<!DOCTYPE html>
<style>
   .head1{
    display:flex;
    justify-content: center;
    background-color: darkslategrey;
    color: aliceblue;
    border-radius: 5px;
}
.body1
{
    background-color: bisque;
}

.hero
{
   /*resize:none;*/
   size: 15px;
   padding-top: 50px;
   /*display:flex;*/
   padding-left: 20px;
   /* justify-content: space-around; */
}
</style>
    <head>
        <link rel="stylesheet" href="style.css">
     <title>App</title>
    </head>
    <body class="body1">
     <div class="head1">
        <h1>TEXT SUMMARIZATION </h1>
     </div>
     <form >
     <div class="hero">
      <h1>Original-Text</h1>
        <p>{{original_txt}}</p><br>
      <h1>Summary</h1>
        <p>{{summary}}</p>

     </div>
    </form></body>
</html>
